/* custom.css */  
  
img.site-logo {
    height: 30px; /* ロゴの高さを80pxに設定 */
    width: auto;  /* 幅は自動調整します  */
    margin: auto; /* ロゴの周りにマージンを追加 */ 
 }
/* h1.page-header {
    display: none !important;
}

body .post-title {
    display: none !important;
} */

.categories-timestamp {
    display: none !important;
}

body .published {
    display: none !important;
}

body .post-info .label {
    display: none !important;
}

/* body {
    background-color: #f4f4f4;
} */

body .container{
    font-family: 'Lato', sans-serif;/* フォントを変更 */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;/* フォントを変更 */
    font-weight: bold; /* 太字に設定 */
}
.navbar-brand {
    display: flex; /* フレックスボックスを有効化 */
    align-items: center; /* 垂直方向に中央揃え */
}